.trivia-container {
    border: 1px solid black;
    font-size: 2em;
    margin: 20px;
    margin-bottom: 0;
    padding: 10px;
    padding-bottom: 0;
    border-radius: 20px;
    max-width: 1000px;
}

.difficulty {
    margin-bottom: 10px;
    font-size: 0.7em;
}

.question {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 500;
}

.answers-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.score-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0;
}

.score-col>div {
    padding: 10px;
    border: 1px solid black;
}

.game-info {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    margin-top: 20px;
    font-size: 0.6em;
}

.answered {
    background-color: #c0ff7d;
}

.remaining {
    background-color: #c2fffc;
}

.unanswered {
    background-color: #ff9cad;
}

.game-info>h4 {
    border: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.game-score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-score>p {
    padding: 5px;
}

.total-score {
    border-style: solid;
    border-color: black;
    border-width: 1px 1px 1px 1px;
    border-radius: 0 0 10px 10px;
    padding: 5px;
    font-size: 1.7rem;
}

@media only screen and (max-width: 800px) {
    .trivia-container {
        font-size: 1.5em;
    }

    .answers-list {
        flex-direction: column;
    }
}

.question_origin {
    margin-top: 5px;
    font-size: 0.4em;
}